/* .title{
     text-align: center;
} */

.title{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    height: 50vh;
    font-family: "ＭＳ 明朝",serif;
}

.title p{
     color: #ffffff;
     display: block;
     margin: 0px;
     padding: 0px;
     font-size: 1rem;
     line-height: 1.3rem;
}

.title h1{
    margin: 0px;
    writing-mode: vertical-rl;
    padding: 15px;
    color: #000000;
    background-color: #ffffff;
    display: block;
    font-size: 2.3rem;
    font-family: "ＭＳ 明朝",serif;
}

body{
     font-family: "ＭＳ 明朝",serif;
}

.parent{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
      justify-content: space-around;
      text-align: center;
      padding: 0px;
      margin: 0px;
}

#myCanvas{
     z-index: -1;
     position: fixed;
     top: 0vh;
     opacity: 0.9;
     filter: grayscale(100%);
     padding: 0px;
     margin: 0px;
    /* filter: invert(100%); */
}

/* 
@media screen and (max-width:480px) {
     .title{
          margin: 0px;
          padding: 0px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          text-align: center;
          height: 50vh;
          font-family: "ＭＳ 明朝",serif;
     }

     .title h1{
          margin: 0 auto;
          writing-mode: vertical-rl;
          padding: 10px;
          color: #000000;
          background-color: #ffffff;
          display: flex;
          flex-wrap: nowrap;
          writing-mode: vertical-rl;
          align-items: center;
          font-size: 1.5rem;
          font-family: "ＭＳ 明朝",serif;
     }

    .title p{
          color: #ffffff;
          display: block;
          align-items: center;
          margin: 0 auto;
          padding: 0px;
          font-size: 0.7rem;
          line-height: 1.0rem;
    }

    .item{
          width: 40vw;
          height: 27vw;
          border-radius: 50%;
          color: #ffffff; 
          opacity: 1.0;
          font-size: 0.5rem; 
          line-height: 0.75rem;
    }

    .parent{
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          width: 100%;
          justify-content: space-around;
          text-align: center;
          padding: 0px;
          margin: 0px;
    }

    #myCanvas{
          z-index: -1;
          position: fixed;
          top: 0vh;
          opacity: 0.9;
          filter: grayscale(100%);
          padding: 0px;
          margin: 0px;
          height: 100%;
     /* filter: invert(100%); */
     /* }
} */ 

.child{
      width: 40vw;
      height: 17vw;
      /* border-radius: 50%;
      background-color: #a000ff; */
      /* padding-left: 5px;
      padding-right: 5px;
      left: 50%; 
      transform: translateY(-50%);
      -webkit-transform:  translateY(50%);  */
} 

.item{
     /* text-align: left; */
      width: 40vw;
      height: 17vw;
      border-radius: 50%;
      color: #ffffff; 
      opacity: 1.0;
      font-size: 0.65rem;
      line-height: 0.95rem;
}

.item :hover{
     opacity: 0.5;
}

.col1{
     /* text-align: left; */
      width: 40vw;
      height: 17vw;
      border-radius: 50%;
      color: #000000; 
      opacity: 1.0;
      font-size: 0.65rem;
      line-height: 0.95rem;
      font-family: "メイリオ",serif;
}

.p100{
     background-color: rgba(0,0,0,0.9);
     color: #ffffff;
     height: 1353px;
     width: 100vw;
     padding: 0px;
     margin: 0px;
}

.p10{
     background-color: rgba(0,0,0,0.8);
     color: #ffffff;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}

.p1{
     background-color: rgba(0,0,0,0.7);
     color: #ffffff;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}

.p01{
     background-color: rgba(0,0,0,0.6);
     color: #ffffff;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}


.p001{
     background-color: rgba(0,0,0,0.5);
     color: #ffffff;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}

.p0001{
     background-color: rgba(0,0,0,0.4);
     color: #ffffff;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}



.p00001{
     background-color: rgba(0,0,0,0.3);
     color: #ffffff;
     height: 1453px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}


.p0{
     background-color: rgba(0,0,0,0.2);
     color: #ffffff;
     height: 700px;
     width: 100vw;
     margin-top: 30px;
     margin-bottom: 0px;
     padding-bottom: 0px;
     padding: 0px;
}

.footer{
     background-color: rgba(0,0,0);
     /* background-color: #ffffff; */
     color: #ffffff;
     /* color: #000; */
     height: 120px;
     width: 100vw;
     margin-top: -20px;
     margin-bottom: -20px;
     padding: -20px;
     padding-bottom: -100px;
}

.footer p{
     margin-top: 20px;
}

a{
      color: #ffffff;
     /* color: #000; */
     height: 120px;
     font-size: 0.8rem;
     line-height: 0.9rem;
}

/* a :hover{
    opacity: 0.5;
} */

body{
     padding-bottom: 0px;
     margin-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
}

.p7050{
    background-color: rgba(0,0,0,0.8);
    font-size: 1.0rem;
}

.p5{
    background-color: rgba(0,0,0,0.7);
    font-size: 1.0rem;
}
.p05{
    background-color: rgba(0,0,0,0.6);
    font-size: 1.0rem;
}
.p005{
    background-color: rgba(0,0,0,0.5);
    font-size: 1.0rem;
}
.p0005{
    background-color: rgba(0,0,0,0.4);
    font-size: 1.0rem;
}
.p00005{
    background-color: rgba(0,0,0,0.3);
    font-size: 1.0rem;
}
.p000005{
    background-color: rgba(0,0,0,0.2);
    font-size: 1.0rem;
}

* {
    margin: 0px;
    padding: 0px;
}




.modalCheck {
  display: none;
}

label {
  cursor: pointer;
}

.modalWrap, .modalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
}

.modalWrap {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s cubic-bezier(1, 0, 0, 1);
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  will-change: opacity;
}

.modalBg {
  cursor: pointer;
  opacity: 0.7;
  background-color: #000;
  z-index: 2;
}
.modalBg label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.modalCon {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 92%;
  max-width: 640px;
  height: 86%;
  margin: auto;
  z-index: 3;
}

.modalInner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 100%;
  padding: 0 1.5em 1.5em;
  cursor: default;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

.modalCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
}
.modalCloseBtn label {
  display: inline-block;
  padding: 0.5em;
  color: #333;
  text-decoration: none;
  font-size: 2em;
}

.modalCheck:not(:checked) ~ *:not(.modalWrap) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.modalCheck:not(:checked) ~ .modalWrap {
  opacity: 0;
  visibility: hidden;
}

.modalCheck:checked ~ *:not(.modalWrap) {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

#modal01:checked ~ #modal01Con {
  opacity: 1;
  visibility: visible;
}

.modalTtl {
  padding: 2em 0.5em 1.5em;
  font-size: 2em;
  line-height: 1.3;
  text-align: center;
}

.modalText .modalCover {
  margin: 0 -1.5em 1em;
}
.modalText p {
  margin-bottom: 1em;
  line-height: 1.7;
}