/* .title{
     text-align: center;
} */
#showloading {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  z-index: 20;
}
#showloading img {
  position: fixed;
  filter: invert();
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 20;
}
.fadeout-bg {
  transition-property: opacity;
  transition-delay: .9s;
  transition-duration: .6s;
  opacity: 0;
  pointer-events: none;
}
.hidden {
  display: none;
}

.title{
    /* margin: 0px; */
    padding: 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    height: 50vh;
}

.title p{
     color: #000000;
     display: block;
     align-items: center;
     margin: 0 auto;
     padding: 0px;
     font-size: 1rem;
     line-height: 1.3rem;
     font-family: a-otf-futo-min-a101-pr6n, serif;
     font-weight: bold;
     /* overflow: hidden;    */
}

.title h1{
    margin: 0 auto;
    writing-mode: vertical-rl;
    padding: 15px;
    color: #ffffff;
    background-color: #ff0257;
    display: flex;
    writing-mode: vertical-rl;
    align-items: center;
    font-size: 2.3rem;
    font-family: a-otf-futo-min-a101-pr6n, serif;
}

/* body{
     font-family: "メイリオ",serif;
} */

.parent{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
      justify-content: space-around;
      text-align: center;
      padding: 0px;
      margin: 0px;
      font-family: a-otf-futo-min-a101-pr6n, serif;
}

#myCanvas{
     z-index: -1;
     position: fixed;
     top: 0vh;
     opacity: 0.6;
     /* filter: grayscale(100%); */
     padding: 0px;
     margin: 0px;
    filter: invert(100%);
}

@media screen and (max-width:480px) {
    .title p{
     color: #000000;
     display: block;
     align-items: center;
     margin: 0 auto;
     padding: 0px;
     font-size: 0.7rem;
     line-height: 0.9rem;
     font-family: a-otf-futo-min-a101-pr6n, serif;
     font-weight: bold;
     /* overflow: hidden;    */
    }
    
    .modalText{
        width: 40vw;
        text-align: left;
        padding-top: 3px;
        padding-bottom: 0px;
        display: block;
        margin: 0 auto;
        font-size: 0.7rem;
        z-index: 100;
        font-family: kozuka-gothic-pr6n, sans-serif;
    }

    .modalTtl{
        width: 40vw;
        text-align: left;
        padding-top: 0px;
        display: block;
        margin: 0 auto;
        font-size: 1.1rem;
        z-index: 100;
        font-family: kozuka-gothic-pr6n, sans-serif;
    }

    .modalTextCol{
        font-size: 0.8rem;
        z-index: 100;
        padding-bottom: 20px;
        width: 40vw;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-family: kozuka-gothic-pr6n, sans-serif;
    }
}


.child{
      width: 40vw;
      height: 17vw;
      /* border-radius: 50%;
      background-color: #a000ff; */
      /* padding-left: 5px;
      padding-right: 5px;
      left: 50%; 
      transform: translateY(-50%);
      -webkit-transform:  translateY(50%);  */
} 

.item{
     /* text-align: left; */
      width: 40vw;
      height: 17vw;
      color: #878787;
      opacity: 1.0;
      font-size: 0.65rem;
      line-height: 0.95rem;
      font-family: kozuka-gothic-pr6n, sans-serif;
}

.item :hover{
     opacity: 0.5;
}

.p100{
     background-color: rgba(255,255,255,0.9);
     color: #000000;
     height: 1353px;
     width: 100vw;
     padding: 0px;
     margin: 0px;
}

.p10{
     background-color: rgba(255,255,255,0.8);
     color: #000000;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}

.p1{
     background-color: rgba(255,255,255,0.7);
     color: #000000;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}

.p01{
     background-color: rgba(255,255,255,0.6);
     color: #000;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}


.p001{
     background-color: rgba(255, 255, 255, 0.5);
     color: #000;
     height: 1353px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}

.p0001{
     background-color: rgba(255,255,255,0.4);
     color: #000;
     height: 1453px;
     width: 100vw;
     margin-top: 30px;
     padding: 0px;
}


.p0{
     background-color: rgba(255,255,255,0.3);
     color: #000;
     height: 700px;
     width: 100vw;
     margin-top: 30px;
     margin-bottom: 0px;
     padding-bottom: 0px;
     padding: 0px;
}

.footer{
     background-color: #ff0257;
     color: #ffffff;
     height: 120px;
     width: 100vw;
     margin-top: -20px;
     margin-bottom: -20px;
     padding: -20px;
     padding-bottom: -100px;
     font-family: a-otf-futo-min-a101-pr6n, serif;
}

.footer p{
     margin-top: 10px;
     font-family: a-otf-futo-min-a101-pr6n, serif;
}

a{
      color: #ffffff;
     /* color: #000; */
     height: 120px;
     font-size: 0.8rem;
     line-height: 0.3rem;
     font-family: a-otf-futo-min-a101-pr6n, serif;
}
/* a :hover{
    opacity: 0.5;
} */

body{
     padding-bottom: 0px;
     margin-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
}

.p7050{
    background-color: rgba(255,255,255,0.8);
    font-size: 0.9rem;
}

.p5{
    background-color: rgba(255,255,255,0.7);
    font-size: 1.0rem;
}
.p05{
    background-color: rgba(255,255,255,0.6);
    font-size: 1.0rem;
}
.p005{
    background-color: rgba(255,255,255,0.5);
    font-size: 1.0rem;
}
.p0005{
    background-color: rgba(255,255,255,0.4);
    font-size: 1.0rem;
}
.p00005{
    background-color: rgba(255,255,255,0.3);
    font-size: 1.0rem;
}


hr{
    opacity: 0.4;
}

#num4,#text4,#ctext4,#title4,#closeBtn4{
    color: #e45a93;
}


#num5,#text5,#ctext5,#title5,#closeBtn5{
    color: #935ae4;
}

#num9,#text9,#ctext9,#title9,#closeBtn9{
    color:#f08a36;
    font-family: tbcinergothic-std, sans-serif;
}

#num7,#num8{
    color: #4b3829;
    font-family: ro-shino-std, serif;
    font-size: 0.72rem;
    line-height: 0.92rem;
}
#text7,#ctext7,#title7,#closeBtn7,#text8,#ctext8,#title8,#closeBtn8{
    color: #4b3829;
    font-family: ro-shino-std, serif;
}

#num11,#text11,#ctext11,#title11,#closeBtn11{
    color: #ff1cff;
    font-family: a-otf-futo-min-a101-pr6n, serif;
}

#num15,#num42{
    color: #5a0606;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 0.70rem;
    line-height: 0.90rem;
}

#text15,#ctect15,#title15,#closeBtn15,#text42,#ctext42,#title42,#closeBtn42{
    color: #5a0606;
    font-family: yu-mincho-pr6n, sans-serif;
}

#num16,#num39{
    color: #06065a;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 0.70rem;
    line-height: 0.90rem;
}

#text16,#ctext16,#title16,#closeBtn16,#text39,#title39,#ctext39,#closeBtn39{
    color: #06065a;
    font-family: yu-mincho-pr6n, sans-serif;
}

#num17,#num48,#num49{
    color: #b90000;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 0.70rem;
    line-height: 0.90rem;
}

#text17,#ctext17,#title17,#closeBtn17,#text48,#ctext48,#title48,#closeBtn48,#text49,#ctext49,#title49,#closeBtn49{
    color: #b90000;
    font-family: yu-mincho-pr6n, sans-serif;
}

#num18,#text18,#ctext18,#title18,#closeBtn18{
    color:#ff379b;
    font-family: tbcinergothic-std, sans-serif;
}

#num20,#text20,#ctext20,#title20,#closeBtn20{
    color:#f08a36;
}

#num22,#num28,#num33{
    color: #144624;
    font-family: ro-shino-std, serif;
    font-size: 0.75rem;
    line-height: 0.95rem;
}

#text22,#ctext22,#title22,#closeBtn22,#text28,#ctext28,#title28,#closeBtn28,#text33,#ctext33,#title33,#closeBtn33{
    color: #144624;
    font-family: ro-shino-std, serif;
}

#num26,#text26,#ctext26,#title26,#closeBtn26{
    color:#935ae4;
}

#num27,#num35,#num19,#num29,#num38,#num46,#num47{
    color: #491a5c;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 0.70rem;
    line-height: 0.90rem;
}

#text19,#ctext19,#title19,#closeBtn19,#text27,#ctext27,#title27,
#closeBtn27,#text29,#ctext29,#title29,#closeBtn29,#text35,#ctext35,
#title35,#closeBtn35,#text38,#ctext38,#title38,#closeBtn38,#text46,#ctext46,#title46,#closeBtn46,
#text47,#ctext47,#title47,#closeBtn47{
    color: #491a5c;
    font-family: yu-mincho-pr6n, sans-serif;
}

#num30{
    color: #b90000;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 0.70rem;
    line-height: 0.90rem;
}

#text30,#ctext30,#title30,#closeBtn30{
    color: #b90000;
    font-family: yu-mincho-pr6n, sans-serif;
}

#num31{
    color: #0000b9;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 0.70rem;
    line-height: 0.90rem;
}

#text31,#ctext31,#title31,#close31{
    color: #0000b9;
    font-family: yu-mincho-pr6n, sans-serif;
}

#num32,#num34{
    color: #000;
    font-family: yu-mincho-pr6n, sans-serif;
    font-size: 0.70rem;
    line-height: 0.90rem;
}

#text32,#ctext32,#title32,#closeBtn32,#text34,#ctext34,#title34,#closeBtn34{
    color: #000;
    font-family: yu-mincho-pr6n, sans-serif;
}

#num36,#num37,#text36,#ctext36,#title36,#closeBtn36,#text37,#ctext37,#title37,#closeBtn37{
    color: #000;
    font-family: a-otf-futo-min-a101-pr6n, serif;
}

#num14,#num3,#num6,#num25,#text3,#ctext3,#title3,#closeBtn3,#text6,#ctext6,#title6,#closeBtn6,#text14,#ctext14,#title14,#closeBtn14,#text25,#ctext25,#title25,#closeBtn25{
    color: #628a60;
}

.area,.area1{
    font-family: a-otf-futo-min-a101-pr6n, serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.modalWrap{
     display: none;
}

.modalOpen{
     position: fixed;
     top: 0;
     left: 0;
     padding:0;
     margin: 0;
     width: 100%;
     height: 100%;
     z-index: 100;
     display: flex;
     justify-content: center;
     align-items: center;
}

.modalCon{
     display: block;
     background-color: #ffffff;
     color: #878787;
     margin: 0 auto;
     width: 70vw;
     z-index: 100;
     text-align: center;
     align-items: center;
     font-family: kozuka-gothic-pr6n, sans-serif;
}

.modalCloseBtn{
     color:#878787;
     width: 65vw;
     text-align: right;
     padding-top: 15px;
     padding-bottom: 0px;
     margin: 0 auto;
     z-index: 100;
     font-family: kozuka-gothic-pr6n, sans-serif;
}

.modalText{
     width: 40vw;
     text-align: left;
     padding-top: 3px;
     padding-bottom: 0px;
     display: block;
     margin: 0 auto;
     font-size: 0.9rem;
     z-index: 100;
     font-family: kozuka-gothic-pr6n, sans-serif;
}

.modalTtl{
     width: 40vw;
     text-align: left;
     padding-top: 0px;
     display: block;
     margin: 0 auto;
     font-size: 1.5rem;
     z-index: 100;
     font-family: kozuka-gothic-pr6n, sans-serif;
}

.modalCover{
     display: none;
}

.modalCoverCol{
     width: 40vw; 
     height: auto; 
     padding-top: 20px;
     padding-bottom: 10px;
     display: block;
     margin: 0 auto;
     z-index: 100;
}

.modalTextCol{
     font-size: 1.0rem;
     z-index: 100;
     padding-bottom: 20px;
     width: 40vw;
     text-align: center;
     display: block;
     margin: 0 auto;
     font-family: kozuka-gothic-pr6n, sans-serif;
}