.title{
     text-align: center;
}

.parent{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      text-align: center;
}

#myCanvas{
     z-index: -1;
     position: fixed;
     top: 0vh;
     opacity: 0.5;
}

/* @media screen and (max-width:959px) {
     .parent{
          display: flex;
          align-items: center;
          flex-wrap:wrap;
          width: 100%;
          justify-content: space-around;
          text-align: center;
     }

     .child{
          width: 17vw;
     }

     .item{
     /* text-align: left; */
           /* width: 17vw; */
      /* background-color: #a000ff; */
           /* color: #ffffff; */
     /* } */
/* } */ 

.child{
      width: 17vw;
      height: 17vw;
      /* border-radius: 50%;
      background-color: #a000ff; */
      /* padding-left: 5px;
      padding-right: 5px;
      left: 50%; 
      transform: translateY(-50%);
      -webkit-transform:  translateY(50%);  */
} 

.item{
     /* text-align: left; */
      width: 17vw;
      height: 17vw;
      border-radius: 50%;
      color: #000000; 
      font-size: 1.0vw;
}